footer {
      padding-top: 20px;
      display: flex;
      flex-direction: column;
      height: 60px;
      justify-content: space-between;
      align-items: center;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      background-color: var(--black);
}
footer p{
      color: var(--white);
}
.white-line{
      height: 1px;
      background-color: var(--white);
      width: 95%;
}
.app_footer_social-icons{
      margin-right: 30px;
      width: 15%;
      display: flex;
      justify-content: space-between;
      min-width: 162px;
      background: var(--black);
} 
.app_footer_social-icons a{
      color: var(--purple);
}
.app_footer_social-icons a:hover{
      opacity: 0.8;
}
.app_footer_copyright-text{
      margin-left: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
}
.app_footer_content{
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 98%;  
}
@media screen and (max-width: 550px) {
      .app_footer_content{
            flex-direction: column;
      }
      .app_footer_copyright-text{
            margin-left: 0;
      }
      .app_footer_social-icons{
            width: 60%;
            padding: 0px 20% 20px 20%;
            margin-right: 0;
      } 
}