footer {
      display: flex;
      flex-direction: column;
      height: 60px;
      justify-content: space-between;
      align-items: center;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      background-color: black;
}
.white-line{
      height: 1px;
      background-color: #fff;
      width: 95%;
}
.app_footer_social-icons{
      margin-right: 30px;
      width: 15%;
      display: flex;
      justify-content: space-between;
      min-width: 162px;
      background: black;
} 
.app_footer_copyright-text{
      margin-left: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
}
.app_footer_content{
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;  
}
@media screen and (max-width: 500px) {
      .app_footer_content{
            flex-direction: column;
      }
      .app_footer_copyright-text{
            margin-left: 0;
      }
      .app_footer_social-icons{
            width: 60%;
            padding: 0px 20% 20px 20%;
            margin-right: 0;
      } 
}