.app_signIn_card-inputs{
      text-align: start;
      min-width: 267px;
      max-width: 500px;
      margin-bottom: 20px;
      padding: 40px 44px 40px 40px;
      border: 1px solid #cccc;
}
.app_signIn_card-inputs input{
      width: 100%;
}