/* fonts */
@font-face {
  font-family: "Roboto Bold" ;
  src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
}
@font-face {
  font-family: "Roboto Med" ;
  src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
}
@font-face {
  font-family: "Roboto Light" ;
  src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
}
/* colors */
:root {
  /* --yellow: #FCF430;
  --purple: #9E59D2;
  --white: #FCFCFC;
  --black: #282828; */
  --bg-color: #4e436d;
  --hover: #F0AA86;
  --component-bg: #5c4e82;
}
body{
  background-color: var(--bg-color);
}
#app{
  width: 100%;
  background-color: var(--bg-color);
}
input{
  outline: none;
}

