/* fonts */
@font-face {
  font-family: "Roboto Bold" ;
  src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
}
@font-face {
  font-family: "Roboto Med" ;
  src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
}
@font-face {
  font-family: "Roboto Light" ;
  src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
}
/* colors */
:root {
  --yellow: #FCF430;
  --purple: #9E59D2;
  --white: #FCFCFC;
  --black: #282828;
}
